.vscode
**/node_modules/tree-kill
**/node_modules/**/src
# files from node_modules are actually only needed for the npm package @zentryc5t/ts-plugin-for-bruno

server/node_modules
shared/out
**/src/**/*.ts
tsPlugin

**/tsconfig.json
samples/
**/webpack.config.js
*.vsix